
body {margin-left: 50px;
margin-right: 50px;
margin-top: 20px;
}



h1 {font-family: cursive;
    font-size: 48px;
    color: aliceblue;

}

h2 {font-family: cursive;
    font-size: 48px;
    color: darkred;
}

h3 {font-family: cursive;
    font-size: 48px;
    color: forestgreen;
    background-color: ghostwhite;
}

p {font-family: monospace;
    font-size: 20px;
    color: darkred;
    background-color: ghostwhite;
border: 4px solid  darkred;
padding: 10px;}

.copyrights {text-align: center;font-size: 14px;}
.credits {text-align: center;font-size: 14px;
width: 500px; }
a {color: brown;
text-decoration: none;}

div {display: block;margin-left: auto;margin-right: auto;}



button { font-family: monospace;
    font-size: 14px;
    color: azure
    background-color: beige;
    text-align: center;
    border: 2px solid darkred;
    padding: 3px;
    width: 120px;
    margin-right: 20px;
